{{define "subject"}}Welcome to Service github.com/yyboo586/IAMService!{{end}}

{{define "plainBody"}}
Hi, 

Thanks for registering with Service github.com/yyboo586/IAMService. We're looking forward to having you on board!

For future reference, your user ID number is {{.ID}}.

The github.com/yyboo586/IAMService Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
    <p>Hi,</p>
    <p>Thanks for registering with Service github.com/yyboo586/IAMService. We're looking forward to having you on board!</p>
    <p>For future reference, your user ID number is {{.ID}}.</p>
    <p>Thanks,</p>
    <p>The github.com/yyboo586/IAMService Team</p>
</body>

</html>
{{end}}